@charset "UTF-8";

*{
  margin: 0; padding: 0; box-sizing: border-box !important;
}
html,body{
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', 'Noto Sans KR', sans-serif; /*영문,한글*/
  background-color: #fff;
}
ul,li{list-style: none;}
a{text-decoration: none; color: #000;}

#wrap{
  width: 100%;max-width: 1920px;overflow: hidden;
  text-align: center;
  margin: 0 auto;
  box-sizing: border-box;
}
.container{
  width: 1280px;
  margin: 0 auto;
  position: relative;
  /* background: red; */
}

/* 헤더 - 공통 */
header{height: 0;}
header .header-wrap{
  width: 100%;height: 100px;
  position: relative;z-index: 1;
  /* transition: all 0.3s; */
  /* background-color: #092e6e; */
}
header .header-wrap.on{
  background-color: #092e6e;
}
header .header-wrap .container{
  height: 100px;
}
header img{
  position:absolute;left:0px;top: 30px;
}
header nav{
  height: 100px;
}
header a{color: #fff;font-size: 1.25rem;font-family: 'Noto Sans KR',sans-serif;font-weight: 600;}
header .gnb{
  position: absolute;right: 0;top: 30px;
}
header .gnb>li{
  display: inline-block;
  vertical-align: top;
  position: relative;
}
header .gnb>li:first-child{
  width: 132px;
}
header .gnb>li>a{
  display: block;
  padding: 10px 23px;
}
header .lnb{display: none;}
header .lnb{
  margin-top: 22px;
  width: 132px;
}
header .lnb li{
  background: #fff;
  transition: all 0.3s;
}
header .lnb li a{
  display: block;
  padding: 20px 14px;
  font-size: 1.07rem;
  font-weight: 400;
  color: #092e6e;
  transition: all 0.3s;
}
header .lnb li:hover{background: rgba(255,255,255,0.9);}
header .lnb li:hover a{padding-left: 18px; color: #888;}

/* 푸터 */
footer{
  border-top: 1px solid #333;
  height: 240px;
  position: relative;top:0; bottom: 0;
}
.footer-wrap{
  position: absolute;left: 50%;top: 50%;
  transform: translate(-50%, -50%);
}
.footer-wrap .privacy li{
  display: inline-block;
}
.footer-wrap .privacy li:first-child{
  margin-right: 46px;
}
.footer-wrap .privacy a{
  font-weight: 700;
  font-size: 0.875rem;
}
.footer-wrap p.address{
  margin-top: 11px;
  font-size:	0.75rem;
}
.footer-wrap p.company-info{
  margin-top: 35px;
  font-size:	0.75rem;
}
.footer-wrap p.copyright{
  margin-top: 28px;
  font-size:	0.75rem;
}

/* 탑버튼 */
button.top{
  position: fixed;bottom: 40px;right: 34px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
button.top img{
  width: 60px;height: 60px;
}
