@charset "UTF-8";

/* 메인 */
main{
  position: relative;
  /* background: pink; */
}
section{width: 100%;max-width: 1920px;}
/* 섹션1 - 이미지슬라이드 */
.sec1{
  width: 1920px;height: 964px;
  overflow: hidden;
}
.sec1 .img-slide{
  position: absolute;left: 0;top: 0;
  width: 5760px;height: 100vh;
  /* margin-left: -100vw; */
}
.sec1 .img-slide>div{
  float: left;
  width: 1920px;
}
.sec1 img{
  width: 100%;max-width: 1920px;
  height: 100vh;
}
/* 섹션2 - 서피비치 소개 */
.sec2{
  position: relative;
  width: 100%;height: 100vh;
}
.sec2 img{
  position: absolute;left: 0;top: 50%;
  transform: translateY(-50%);
  width: 1120px;height: 640px;
}
.sec2 .text{
  position: absolute;right: 120px;bottom: 170px;
  text-align: right;
}
.text h2{
  font-size: 3.75rem;font-weight: 800;color: #092e6e;
}
.text p{
  margin-top: 0.75rem;
  font-size: 1.375rem;
  font-weight: 600;
}
/* 섹션3 - 강습내용 */
.sec3{
  margin-top: 300px;
}
.sec3 .sec3-wrap{
  width: 100%; max-width: 1920px;
  display: flex;
}
.sec3 a{
  width: 25%;
  position: relative;
}
.sec3 img{
width: 100%;
filter: brightness(50%);
transition: all 0.5s;
}
.sec3 a:hover img{
  filter: brightness(100%);
}
.sec3 p{
  position: absolute;top:50%;left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 28px;
  font-family: 'Noto Sans KR',sans-serif;
  font-weight: 700;
}
.sec3 p em{
  font-style: normal;font-size: 39px;
}
/* 섹션4 - 서핑강습 */
.sec4{height: 1162px;}
.sec4 .bg{
  width: 100%;max-width: 1920px;height: 1162px;
  background: linear-gradient(120deg, rgba(255,255,255,1) 0%, rgba(211,240,255,1) 100%);
  position: absolute;
}
.sec4 .bg p{
  font-size: 224px;
  font-weight: 700;
}
.sec4 .bg .coach{
  color: rgba(9, 46, 110, 0.05);
  position: absolute;top: 198px;right: 0;
}
.sec4 .bg .surf{
  color: rgba(9, 46, 110, 0.15);
  position: absolute;bottom: -56px;right: 0;
}
h2.title{
  font-size: 40px;
  font-weight: 700;
  text-align-last: left;
  margin-left: 450px;
  position: relative;top: 305px;
}
h2.title::before{
  display: block;
  width: 160px;height: 2px;
  background: #000;
  content: "";
  position: absolute;left: -13%;top: 50%;
}
.sec4 .content{
  position: relative;
  padding-top: 280px;
  width: 1643px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.sec4 .content>div{
  position: relative;top: 0;
  margin-top: 55px;
  vertical-align: top;
  width: 360px;height: 544px;
  background: #fff;
  box-shadow: 3px 3px 10px #aaa;

  transition: all 0.5s;
}
.sec4 .content>div:nth-child(even){
  margin-top: 142px;
}
.sec4 .content>div:hover{
  top: -20px;
}
.sec4 .content>div img{
  width: 100%;height: 374px;
}
.sec4 .content>div h3{
  margin-top: 16px;
  margin-bottom: 13px;
  font-size: 24px;
  color: #092E6E;
}
.sec4 .content>div p{
  font-size: 14px;
  line-height: 22px;
}
/* 섹션5 - 지도 */
.sec5{
  height: 1100px;
}
.sec5 .map{
  padding-top: 335px;
  position: relative;
}
.sec5 .map p{
  position: absolute;top: 670px;
}
.sec5 .map strong{
  margin-right: 8px;
}
.sec5 .map .address{
  font-size: 22px;
}
.sec5 .map .right{
  width: 600px;
  right: 0;
  text-align: left;
  background: skyblue;
  font-size: 20px;
}
.sec5 .map .right span:nth-child(1){
  position: absolute;
  left: 0;
}
.sec5 .map .right span:nth-child(2){
  position: absolute;
  width: 310px;
  text-align: left;
  right: 0;
}
.sec5 .map .right span:nth-child(2)::before{
  content: "|";
  margin-right: 5px;
}
.sec5 .map .sns{
  top: 710px;
}