@charset "UTF-8";

/* 섹션1 - 이미지슬라이드 */
.all_wrap{
	margin: 0 auto;
	width: 1280px;
	/* background-color: pink; */
}
.item_wrap{
	margin: 220px auto 65px;
	/* width: 1280px; */
	
}
.item_wrap h1{
	font-weight: bold;
	font-size: 36px;
	text-align: left;
	margin-bottom: 60px;
}
.item_nav{
	display: flex;
	/* justify-content: space-around; */
	/* background-color: blueviolet; */
}
.item_nav li{
	/* background-color: #CA0000; */
	width: 100%;
	position: relative;
}
.item_nav li a:after{
	content: "|";
	position: absolute;
	font-size: 16px;
	top: 0px;
	right: -3px;
}
.item_nav li:last-child a:after{
	display: none;
	content: "";
}
.item_nav li:first-child a:after{
	
}

.item_nav a{
	/* background-color: green; */
	display: block;
	height: 53px;
	line-height: 53px;
	font-weight: 500;
	font-size: 17px;
}
.item_nav a:hover{
	color: #092e6e;
	background-color: #eee;
}
.item_nav a:hover:after{
	display: none;
	content: "";
}
.item_nav a.on{
	background-color: #092e6e;
	color: #fff;
}
.item_nav a.on:after{
	display: none;
	content: "";
}




.item_img img{
	width: 1280px;
	height: 628px;
	
}




/* 섹션2 - 서피비치 소개 */
.item_about{
	margin: 0 auto;
	width: 1280px;

	/* height: 1160px; */
	/* background-color: aqua; */
	display: block;
	position: relative;
}
.item_about h2{
	/* display: block; */
	/* background-color: blueviolet; */
	margin-bottom: 25px;
	font-size: 30px;
	color: #092e6e;
}
.item_about h3{
	font-size: 20px;
	margin-bottom: 17px;
}
.text_box p{
	font-size: 17px;
	line-height: 33px;
	text-indent: 15px;
}

.item_about article{
	width: 100%;
	text-align: left;
	margin-bottom: 75px;
}




.item_about article .text_box p span{
	color: #CA0000;
	font-weight: bold;
}


