@charset "UTF-8";

/* 섹션1 - 이미지슬라이드 */

.sec1_pass{
	margin: 0 auto 120px;
	/* width: 1280px; */
	/* background-color: pink; */
}
.sec1_pass h1{
	font-weight: bold;
	font-size: 40px;
	text-align: left;
	margin-left:320px;
	margin-bottom: 66px;
}
.img-slide_wrap{
	/* position: relative; */
}
.img-slide{
	width: 100vw;
	height: 560px;
	/* display: flex; */
	/* top: -100px; */
	
}
.img-slide img{
	width: 100%;
	height: 100%;
}



/* 섹션2 - 서피비치 소개 */
.sec2_pass{
	margin: 0 auto;
	width: 1280px;
	/* height: 1160px; */
	/* background-color: aqua; */
	display: block;
	position: relative;
}
.sec2_pass h2{
	/* display: block; */
	/* background-color: blueviolet; */
	margin-bottom: 50px;
	font-size: 28px;
	font-weight: bold;
}
.sec2_pass h3{
	font-size: 18px;
	margin-bottom: 20px;
}
.sec2_pass h3 i{
	color: #092e6e;
	line-height: 16px;
}
.text_box p{
	font-size: 15.5px;
	line-height: 30px;
	text-indent: 18px;
}

.sec2_pass article{
	width: 100%;
	text-align: left;
	margin-bottom: 75px;
}

.sec2_pass figure{
	width: 100%;height: 300px;
	display: flex;
	justify-content: space-between;
}
.sec2_pass figure img{
	width: 420px;
}

.sec2_pass article .text_box p span{
	color: #092e6e;
	font-weight: bold;
}
.text_box strong{
	font-weight: bold;
	font-size: 15.5;
}

section:last-child{
	margin-bottom: 200px;
}

/* 서브페이지-타이틀 */
.sub_page_tit {
	width: 100%;
	margin: 220px 0 50px;
	text-align: left;
  }
  .sub_page_tit .bar_line {
	display: inline-block;
	width: 120px;
	height: 20px;
	border-bottom: 1px solid #333;
	vertical-align: top;
	margin-right: 10px;
  }
footer{
	margin-top: 200px;
}